<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brackets Sequence</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="brackets" type="text" class="input" placeholder="Digit the sequence of brackets..." required>
          <input type="submit" class="btn btn-primary btn-block" value="verify">
        </form>
        <% if(response !== null){ %>
          <p><%= response %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>

    
  </body>
</html>